.hero {
    position: relative;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    overflow: hidden;
}

.hero h1 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.2;
}

.hero h1 .typing-effect {
    color: var(--light-dark-color);
}

.typing-effect {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--primary-color);
    white-space: nowrap;

    overflow: hidden;
    border-right: 2px solid var(--primary-color);
    animation: blink 0.6s infinite;

}

@keyframes blink {
    0% {
        border-color: var(--primary-color);
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: var(--primary-color);
    }
}

.hero h1 .web-dev {
    color: var(--primary-color);
}

.hero p {
    font-family: var(--font-body);
    font-size: 1.2rem;
    color: var(--light-dark-color);
}

.hero .btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-section {
    position: relative;
    height: 100%;
}

.hero .circle {
    position: absolute;
    width: 421px;
    height: 427px;

    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
    opacity: 0;

    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

.circle-1 {
    background-color: var(--light-color);
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle-3 {
    background-color: var(--light-color);
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle-2 {
    background-color: var(--primary-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-image {
    position: absolute;
    bottom: -350px;
    right: 1%;

    transform: translateX(-50%);

    max-width: 100%;
    height: auto;

    z-index: 2;
    opacity: 0;

    animation: fadeInBottomToTop 1s ease-in-out forwards !important;
    transition: transform 0.3s ease-in-out !important;
}

.hero-image:hover {
    transform: scale(1.1) !important;
}

@keyframes fadeInBottomToTop {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 991px) {
    .hero .row {
        flex-direction: column-reverse;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero-image {
        margin-bottom: 20px;
        display: none;
    }

    .btn {
        flex: 1;
    }

    .circle {
        display: none;
    }
}

@media (max-width: 360px) {
    .hero {
        height: 70vh;
    }

    .hero h1 {
        font-size: 1.6rem;
        line-height: 1.1;
    }
}