.navbar {
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    font-family: var(--font-family);
    font-weight: 700;
}

.navbar-brand span {
    color: var(--primary-color);
}

.nav-link {
    color: var(--light-dark-color);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
}

.active-link {
    font-weight: 600;
    color: var(--primary-color) !important;
}

.nav-link:hover {
    font-weight: 700;
    color: var(--primary-color);
}

.navbar-toggler {
    border: none;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler:focus, 
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.mobile-navbar {
    background-color: var(--primary-color);
}

.mobile-navbar .navbar-brand {
    color: var(--secondary-color); 
}

.mobile-navbar span { 
    color: var(--dark-color);
}

.mobile-navbar .nav-link {
    color: var(--secondary-color);
}

.mobile-navbar .navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

@media (max-width: 991px) {
  .mobile-navbar .nav-link.active-link {
    color: #000 !important; 
  }
}
