:root {
  --primary-color: #6538B2;
  --secondary-color: #F9F9F9;
  --background-color: linear-gradient(to bottom, #C9CDE0, #CCB9D9, #E1D2E7);
  --text-color: #212529;

  --font-family: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

body {
  margin: 0;
  height: 100vh;

  background: var(--background-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 700;
}