:root {
  --primary-color: #7E66DB;
  --secondary-color: #FFFFFF;


  --light-color: #ECE3FF;  

  --light-dark-color:#212529;
  --dark-color: #000;

  --background-color: #FAF6FF;

  --font-family: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  height: 100vh; 
  
  background: var(--background-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 700;
}